<div class="hold-transition register-page">


    <div class="register-box" id="register">
        <div class="register-logo">
            <a href="#"><b> Gobierno Autonomo Descentralizado de </b>Calvas</a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Registrar un nuevo Usuario</p>

                <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuario()">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre y Apellido">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Repita password" formControlName="passwordConfirmation">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="De Acuerdo" formControlName="terminos">
                                <label for="agreeTerms">Aceptar los <a href="#">términos</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>

                </form>
                <div class="row">
                    <div class="col text-danger text-center">
                        <p *ngIf="campoNoValido('nombre')">El nombre es obligatorio</p>
                        <p *ngIf="campoNoValido('email')">El email es obligatorio</p>
                        <p *ngIf="passwordNoValido()">Las contraseñas deben de ser iguales</p>
                        <p *ngIf="aceptaTerminos()">Debe aceptar los términos de uso</p>
                    </div>
                </div>
                <div class="social-auth-links text-center">
                    <p>- OR -</p>

                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign up using Google+
                    </a>
                </div>

                <a routerLink="/login" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>