<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
    </div>
    <strong>Gobierno Autonomo Descentralizado &copy; 2015-2021 <a href="https://utpl.edu.ec">Municipio de Calvas</a>.</strong> Todos los derechos reservados
</footer>